*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
main{
    height: 100vh;
    background-image: url('https://en.pimg.jp/068/583/769/1/68583769.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}
main h2{
    position: relative;
    top: 30%;
    left: 2%;
    color: #4ACCB2;
}
.navbar{
    width: 100%;
    height: 10%;
    margin-top: 2%;
}
.navbar img{
    margin-left: 5%;
    height: auto;
    width: 5%;
}
ul{
    width: 60%;
    float: right;
    margin-right: 0%;
}
ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 5%;
}
ul li a{
    text-decoration: none;
    color: orange;
}
.navbar ul li i{
    font-size: 2rem;
    color: #121212;
}
#btn{
    width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  position:relative;
    left: 42%;
    top: 55%
  }

.button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.container{
    height: 40vh;
    width: 100%;
    margin-top: 5%;
}
.small-container{
    width: 80%;
    height: 100%;
    display: flex;
    margin-left: 10%;
    margin-top: 5%;
    justify-content: space-evenly;
    cursor: pointer;
}
.row-1{
   
}
.col-1{
    flex-basis: 30%;
    transition: 1s;
}
.col-2{
    flex-basis: 30%;
    transition: 1s;
}
.col-3{
    flex-basis: 30%;
    transition: 1s;
}
img{
    width: 100%;
}
.container h2 ,.container2 h2{
    text-align: center;
}
.container2{
    height: 70vh;
    width: 100%;
    margin-top: 10%;

}
.row-2{
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    justify-content: space-evenly;
    cursor: pointer;
}
.row-3{
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;

}
.col-1:hover, .col-2:hover, .col-3:hover{
    transform: translateY(-10px);
}
.banner{
    width: 100%;
    height: 50vh;
    margin-top: 10%;
    background: #ff8008; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff8008, #ffc837); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff8008, #ffc837);
}
.banner img{
    width: 40%;
    margin-left: 5%;
    margin-top: 5%;
    float: left;
}
.righttext{
    width: 50%;
    float:right;
}
.righttext h2{
    margin-top: 15%;
}
#btn1{
    width: 150px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    position:relative;
      left: 4%;
      top: 60%;
      margin-top:5%;

}
.container5{
    width: 80%;
    margin-left: 10%;
    height: 60vh;
    display: flex;
    margin-top: 10%;
    justify-content: space-evenly;
    text-align: center;
}
.container5 img{
    margin:10% 25%;
    width: 35%;
    height: 20%;
    border-radius: 50%;

}
.test-1{
    flex-basis: 30%;
    transition: 1s;
}
.test-2{
    flex-basis: 30%;
    transition: 1s;
}
.test-3{
    flex-basis: 30%;
    transition: 1s;
}
.container5 i{
    color: orange;
    margin: 5% 35%;
    font-size: 200%;

}
.test-1:hover,.test-2:hover,.test-3:hover{
    transform: translateY(-10px);
}
footer{
    height: 70vh;
    background-color: #121212;

}
footer img{
    margin: 1% 45%;
    width: 8%;
}
footer h1{
    text-align: center;
    color: white;
}
.foots{
    margin-top: 5%;
    display: flex;
    color: whitesmoke;
    justify-content: space-evenly;
    
}
.foot-1{
    flex-basis: 20%;
}
.foot-2{
    flex-basis: 20%;
}
.foot-3{
    flex-basis: 20%;
}
.foot-4{
    flex-basis: 20%;
}
.foot-4 i{
    margin-left: 5%;
    font-size: 2rem;
    margin-top: 5%;
}





@media screen and (max-width:420px) {
    .small-container{
        display: block;
        margin-left: 10%;
        margin-top: 5%;
        justify-content: space-evenly;
    }
    .container2{
        height: 70vh;
        width: 100%;
        margin-top: 70vh;
        display: block;
    
    }
    .row-2{
        display: block;
        text-align: center;
        
    }
    .row-3{
        display: block;
        text-align: center;
    }
    .row-2 h3{
        margin-top: 15%;
    }
    img{
        width: 90%;
    }
    .container4{
        width: 100%;
        height: max-content;
        margin-top: 10%;

    }
    .container4 img{
        width: 100%;
        display: block;
    }
    .container4 .righttext{
        display: block;
        width:100%;
       
    }

}